<!DOCTYPE html>
<html>
<head>
    <title>Data Display</title>
</head>
<body>
    <div>
        <table border="2">
            <tr>
                {% for i in column %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
            {% for row in rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
